
 <div fxLayoutAlign="center center" fxFlexFill class="main-div">
    
        <mat-card fxFlex="75" class="card">
            <mat-grid-list cols="10">
            <mat-grid-tile colspan="3" class="signin">
                <div class="overlay-container">
                    <div class="overlay">
            <h1>Welcome Back!</h1><br>
            <p>To keep connected with us please login with your personal info</p>
            <button class="ghost" id="signinbtn" type="submit">SIGN IN</button>
            </div>
            </div>
            </mat-grid-tile> 
            <mat-grid-tile colspan="7" class="signup"> 
                <div class="overlay2-container">
                    <div class="overlay2">
                            <h1 id="create_acc">Create Account</h1>
                             <div class="social-container">
                             </div>
                            <span>or use your email for registration</span><br>
                            <input type="text" name="name" placeholder="Name"><br>
                            <input type="email" name="name" placeholder="Email"><br>
                            <input type="password" name="name" placeholder="Password">
                            <button class="signupbtn">SignUp</button>
                        
                  </div></div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
  </div>    